
      <SCRIPT language=JavaScript>
<!--

function js_callpage(htmlurl,wsheight) {
  var
newwin=window.open(htmlurl,"NTT","toolbar=yes,location=yes,directories=no,status=yes,menubar=yes,scrollbars=yes,resizable=yes,width=400,height="+wsheight);
  newwin.focus();
  return false;
}

function openNewWindow() 
{
	NewWindow=window.open('perfect10contest.html','newwin', 'toolbar=no, status=no,scrollbars=yes,resizable=yes, width=770, height=650'); 
  NewWindow.focus();
  window.location.href="index.html";
} 

//-->
</SCRIPT>

      <SCRIPT language=JavaScript>
<!--
//var isWin = navigator.appVersion.indexOf("Win");
//var agentName = navigator.appName;
//var agentVersion = parseInt(navigator.appVersion);

//if (isWin != -1 && (agentName == "Microsoft Internet Explorer" && agentVersion == 4)) {
//	document.write('<div id="eyeblaster" style="visibility:visible;position:absolute;top:120;left:160;width:400;height:250;z-index:10">');
//	document.write('<div id="eyeblaster" style="visibility:visible;position:absolute;top:140;left:360;width:240;height:100;z-index:10">');
//	document.write('<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="240" height="100">');
//	document.write('<param NAME="movie" VALUE="http://www.dominos.com.my/images/vacancies5.swf?url=http%3A%2F%2F203%2E115%2E194%2E54%2Fams%2Fbanman%2Easp%3FTask%3DClick%26ZoneID%3D94%26CampaignID%3D1578%26AdvertiserID%3D174%26BannerID%3D1134%26SiteID%3D2%26RandomNumber%3D38370">');
//	document.write('<param NAME="quality" VALUE="high">');
//	document.write('<param NAME="bgcolor" VALUE="#FFFFFF">');
//	document.write('<param NAME="wmode" Value="Transparent">');
//	document.write('<param NAME="Loop" Value="False">');
//	document.write('<embed src="http://www.dominos.com.my/images/vacancies5.swf?url=http%3A%2F%2F203%2E115%2E194%2E54%2Fams%2Fbanman%2Easp%3FTask%3DClick%26ZoneID%3D94%26CampaignID%3D1578%26AdvertiserID%3D174%26BannerID%3D1134%26SiteID%3D2%26RandomNumber%3D38370" quality="high" wmode="transparent" width="240" height="100" bgcolor="BFD5F7" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>');
//	document.write('</object>');
//	document.write('</div>');
//}
//-->
</SCRIPT>

      <TABLE cellSpacing=0 cellPadding=0 width=540 align=center border=0>
        <TBODY>
        <TR vAlign=top>
          <TD>&nbsp;</TD></TR>
        <TR vAlign=top>
          <TD>
            <DIV align=left><A 
            href="http://www.dominos.com.my/promotionimg.asp"><IMG height=162 
            src="Welcome%20to%20Domino's%20Malaysia_files/cheesy-banner.jpg" 
            width=540 border=0></A> </DIV></TD></TR>
        <TR vAlign=top>
          <TD>
            <DIV align=left><IMG height=698 alt="Latest Promotion" 
            src="Welcome%20to%20Domino's%20Malaysia_files/xtrachicken_main.jpg" 
            width=540 border=0> </DIV></TD></TR><!--<tr valign="top" > 
          <td><div align="left"> 
              <a href="awe-Week1.html"><img src="images/Awesome_foursome-winner-2.gif" alt="Latest Promotion" width="540" border="0"></a>
            </div></td>
        </tr>-->
        <TR vAlign=top>
          <TD>&nbsp;</TD></TR>
        <TR vAlign=top>
          <TD>
            <DIV align=center><IMG height=182 
            src="Welcome%20to%20Domino's%20Malaysia_files/1300.gif" 
            width=540></DIV></TD></TR>
        <TR vAlign=top>
          <TD>&nbsp;</TD></TR></TBODY></TABLE>