<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0036)http://www.dominos.com.my/index.html -->
<%response.buffer=true%><HTML><!-- #BeginTemplate "/Templates/index.dwt" --><HEAD><TITLE>Welcome to Domino's Malaysia</TITLE><!-- DW6 --><!-- #BeginEditable "doctitle" --><!-- #EndEditable -->
<META http-equiv=Content-Type content="text/html; charset=iso-8859-1">
<SCRIPT language=JavaScript>
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v3.0
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</SCRIPT>

<STYLE>A:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #3333ff; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #996633; TEXT-DECORATION: underline
}
</STYLE>

<META content="MSHTML 6.00.6001.18000" name=GENERATOR></HEAD>
<BODY bgColor=#ffffd7 leftMargin=0 topMargin=0 
onload="MM_preloadImages('../images/bt-homea.gif','../images/bt-onlineordera.gif','../images/bt-customerordera.gif','../images/bt-menua.gif','../images/bt-valuemealseta.gif','../images/bt-promotiona.gif','../images/bt-guranteesa.gif','../images/bt-abouta.gif','../images/bt-storesa.gif','../images/bt-faqa.gif','../images/bt-joina.gif','../images/bt-contacta.gif')" 
marginheight="0" marginwidth="0">
<TABLE cellSpacing=0 cellPadding=0 width=639 border=0>
  <TBODY>
  <TR>
    <TD colSpan=3><IMG height=79 alt="Domino's Pizza" 
      src="Welcome%20to%20Domino's%20Malaysia_files/topbanner.gif" width=783 
      border=0></TD></TR>
  <TR>
    <TD vAlign=top borderColor=#0 width=137 bgColor=#ffbe40 rowSpan=3>
      <P align=right><A 
      href="http://www.dominos.com.my/onlineorder.asp#Newuser"><IMG height=34 
      alt="New User" src="Welcome%20to%20Domino's%20Malaysia_files/newuser.gif" 
      width=68 border=0></A><A 
      href="http://www.dominos.com.my/onlineorder.asp#Member"><IMG height=34 
      alt=Member src="Welcome%20to%20Domino's%20Malaysia_files/member.gif" 
      width=68 border=0></A><BR><A 
      onmouseover="MM_swapImage('Image1','','../images/bt-homea.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/index.html"><IMG height=42 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-home.gif" width=136 
      border=0 name=Image1></A><BR><A 
      onmouseover="MM_swapImage('Image2','','../images/bt-onlineordera.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/onlineorder.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-onlineorder.gif" 
      width=136 border=0 name=Image2></A><BR><A 
      onmouseover="MM_swapImage('Image3','','../images/bt-customerordera.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/myfavoritescheck.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-customerorder.gif" 
      width=136 border=0 name=Image3><BR></A><A 
      onmouseover="MM_swapImage('Image4','','../images/bt-menua.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/menu.html"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-menu.gif" width=136 
      border=0 name=Image4><BR></A><A 
      onmouseover="MM_swapImage('Image5','','../images/bt-valuemealseta.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/valuemealsetimg.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-valuemealset.gif" 
      width=136 border=0 name=Image5></A><BR><A 
      onmouseover="MM_swapImage('Image6','','../images/bt-promotiona.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/promotionimg.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-promotion.gif" width=136 
      border=0 name=Image6><BR></A><A 
      onmouseover="MM_swapImage('Coupon','','../images/bt-coupona.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/couponimg.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-coupon.gif" width=136 
      border=0 name=Coupon><BR></A><A 
      onmouseover="MM_swapImage('loyalty','','../images/bt-loyaltya.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/loyalty.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-loyalty.gif" width=136 
      border=0 name=loyalty><BR></A><A 
      onmouseover="MM_swapImage('Image7','','../images/bt-guranteesa.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/guarantees.html"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-gurantees.gif" width=136 
      border=0 name=Image7><BR></A><A 
      onmouseover="MM_swapImage('Image8','','../images/bt-abouta.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/about-1.html"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-about.gif" width=136 
      border=0 name=Image8><BR></A><A 
      onmouseover="MM_swapImage('Image9','','../images/bt-storesa.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/location.asp"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-stores.gif" width=136 
      border=0 name=Image9><BR></A><A 
      onmouseover="MM_swapImage('Image10','','../images/bt-faqa.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/faq.html"><IMG height=40 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-faq.gif" width=136 
      border=0 name=Image10><BR></A><A 
      onmouseover="MM_swapImage('Image11','','../images/bt-joina.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/join.html"><IMG height=39 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-join.gif" width=136 
      border=0 name=Image11><BR></A><A 
      onmouseover="MM_swapImage('Image13','','../images/bt-hiring-anim.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/join.html"><IMG height=39 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-hiring-anim.gif" 
      width=136 border=0 name=Image13><BR></A><A 
      onmouseover="MM_swapImage('Image12','','../images/bt-contacta.gif',1)" 
      onmouseout=MM_swapImgRestore() 
      href="http://www.dominos.com.my/contact.asp"><IMG height=42 
      src="Welcome%20to%20Domino's%20Malaysia_files/bt-contact.gif" width=136 
      border=0 name=Image12> </A></P>
      <P align=center><A 
      href="http://www.dominos.com.my/guarantees.html#Halal"><IMG height=51 
      alt=Halal src="Welcome%20to%20Domino's%20Malaysia_files/Halal-Logo.gif" 
      width=42 border=0></A><A 
      href="http://www.dominos.com.my/guarantees.html#30minutes"><IMG height=51 
      alt="30 minutes delivery" 
      src="Welcome%20to%20Domino's%20Malaysia_files/30min-Logo.gif" width=40 
      border=0></A> </P>
      <P align=center><A 
      href="http://www.dominos.com.my/guarantees.html#guarantees"><IMG 
      alt="Product Guarantees" 
      src="Welcome%20to%20Domino's%20Malaysia_files/pro-guarantees.gif" 
      border=0></A><IMG height=51 alt="Perfect Italiano" 
      src="Welcome%20to%20Domino's%20Malaysia_files/Perfect_small.gif" width=42 
      border=0> </P></TD>
    <TD vAlign=top borderColor=#fbb917 align=left width=27 
    background="Welcome%20to%20Domino's%20Malaysia_files/sidea.gif" 
    bgColor=#fbb917 height=6 rowSpan=3>
      <DIV align=left><IMG height=521 
      src="Welcome%20to%20Domino's%20Malaysia_files/side.gif" width=26></DIV></TD>
    <TD vAlign=top height=6><IMG height=11 
      src="Welcome%20to%20Domino's%20Malaysia_files/top.gif" width=620></TD></TR>
  <TR>
    <TD vAlign=center align=left></TD></TR>
  <TR>
    <TD vAlign=top><!-- #BeginEditable "content" -->
      <SCRIPT language=JavaScript>
<!--

function js_callpage(htmlurl,wsheight) {
  var
newwin=window.open(htmlurl,"NTT","toolbar=yes,location=yes,directories=no,status=yes,menubar=yes,scrollbars=yes,resizable=yes,width=400,height="+wsheight);
  newwin.focus();
  return false;
}

function openNewWindow() 
{
	NewWindow=window.open('perfect10contest.html','newwin', 'toolbar=no, status=no,scrollbars=yes,resizable=yes, width=770, height=650'); 
  NewWindow.focus();
  window.location.href="index.html";
} 

//-->
</SCRIPT>

      <SCRIPT language=JavaScript>
<!--
//var isWin = navigator.appVersion.indexOf("Win");
//var agentName = navigator.appName;
//var agentVersion = parseInt(navigator.appVersion);

//if (isWin != -1 && (agentName == "Microsoft Internet Explorer" && agentVersion == 4)) {
//	document.write('<div id="eyeblaster" style="visibility:visible;position:absolute;top:120;left:160;width:400;height:250;z-index:10">');
//	document.write('<div id="eyeblaster" style="visibility:visible;position:absolute;top:140;left:360;width:240;height:100;z-index:10">');
//	document.write('<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="240" height="100">');
//	document.write('<param NAME="movie" VALUE="http://www.dominos.com.my/images/vacancies5.swf?url=http%3A%2F%2F203%2E115%2E194%2E54%2Fams%2Fbanman%2Easp%3FTask%3DClick%26ZoneID%3D94%26CampaignID%3D1578%26AdvertiserID%3D174%26BannerID%3D1134%26SiteID%3D2%26RandomNumber%3D38370">');
//	document.write('<param NAME="quality" VALUE="high">');
//	document.write('<param NAME="bgcolor" VALUE="#FFFFFF">');
//	document.write('<param NAME="wmode" Value="Transparent">');
//	document.write('<param NAME="Loop" Value="False">');
//	document.write('<embed src="http://www.dominos.com.my/images/vacancies5.swf?url=http%3A%2F%2F203%2E115%2E194%2E54%2Fams%2Fbanman%2Easp%3FTask%3DClick%26ZoneID%3D94%26CampaignID%3D1578%26AdvertiserID%3D174%26BannerID%3D1134%26SiteID%3D2%26RandomNumber%3D38370" quality="high" wmode="transparent" width="240" height="100" bgcolor="BFD5F7" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash"></embed>');
//	document.write('</object>');
//	document.write('</div>');
//}
//-->
</SCRIPT>

      <TABLE cellSpacing=0 cellPadding=0 width=540 align=center border=0>
        <TBODY>
        <TR vAlign=top>
          <TD>&nbsp;</TD></TR>
        <TR vAlign=top>
          <TD>
            <DIV align=left><A 
            href="http://www.dominos.com.my/promotionimg.asp"><IMG height=162 
            src="Welcome%20to%20Domino's%20Malaysia_files/cheesy-banner.jpg" 
            width=540 border=0></A> </DIV></TD></TR>
        <TR vAlign=top>
          <TD>
            <DIV align=left><IMG height=698 alt="Latest Promotion" 
            src="Welcome%20to%20Domino's%20Malaysia_files/xtrachicken_main.jpg" 
            width=540 border=0> </DIV></TD></TR><!--<tr valign="top" > 
          <td><div align="left"> 
              <a href="awe-Week1.html"><img src="images/Awesome_foursome-winner-2.gif" alt="Latest Promotion" width="540" border="0"></a>
            </div></td>
        </tr>-->
        <TR vAlign=top>
          <TD>&nbsp;</TD></TR>
        <TR vAlign=top>
          <TD>
            <DIV align=center><IMG height=182 
            src="Welcome%20to%20Domino's%20Malaysia_files/1300.gif" 
            width=540></DIV></TD></TR>
        <TR vAlign=top>
          <TD>&nbsp;</TD></TR></TBODY></TABLE><!-- #EndEditable --></TD></TR>
  <TR>
    <TD vAlign=top noWrap width=137 bgColor=#ffbe40>
      <DIV align=right>&nbsp;</DIV></TD>
    <TD vAlign=top align=left width=27 
    background="Welcome%20to%20Domino's%20Malaysia_files/sidea.gif" 
    height=6>&nbsp;</TD>
    <TD vAlign=top align=middle colSpan=2><FONT face="Verdana, sans-serif" 
      size=1>Copyright 2000 by Dominos.com.my<BR>All Rights 
  Reserved</FONT></TD></TR></TBODY></TABLE><!-- #EndTemplate --></BODY></HTML>
